.admin--table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  margin: auto;
}

.admin--thead {
  background-color: #f2f2f2;
}

.admin--table--row .title {
  text-align: center;
}

.admin--table--row th,
td {
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.admin--table--row th {
  font-weight: bold;
}

.admin--table--row td:last-child {
  text-align: center;
}

.admin--form {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-top: 1rem;
}

.admin--label {
  display: block;
  margin-bottom: 0.5rem;
}

.admin--input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.admin--button {
  background-color: #000;
  color: #fff;
  margin: auto;
  border: none;
  cursor: pointer;
  width: 400px;
  height: 40px;
  margin-top: 5px;
  border-radius: 10px;
  font-size: 20px;
}

.admin--button:hover {
  background-color: #323232;
}

.admin--edit {
  background-color: #000;
  color: #fff;
  margin: auto;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  padding-inline: 10px;
}

.admin--edit:hover {
  background-color: #323232;
}

.admin--button--save {
  background-color: #000;
  color: #fff;
  border: none;
  height: 40px;
  cursor: pointer;
  width: 300px;
  margin: auto;
  margin-top: 10px;
  border-radius: 15px;
  font-size: 18px;
}

.admin--button--save:hover {
  background-color: #323232;
}

.admin--button--delete {
  background-color: #cc1c1c;
  color: #fff;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 300px;
  margin: auto;
  margin-top: 10px;
  border-radius: 15px;
  font-size: 18px;
}

.admin--button--delete:hover {
  background-color: #bb0d0d;
}

.admin--img {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 100px;
  margin: auto;
  padding-top: 15px;
}

td.full--description {
  max-width: 250px; /* adjust the width as needed */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td.full--description:hover {
  max-width: 650px;
  overflow: visible;
  white-space: normal;
}

td.short--description {
  max-width: 250px; /* adjust the width as needed */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td.short--description:hover {
  max-width: 650px;
  overflow: visible;
  white-space: normal;
}